[user]
	name = Goulin Khoge
	email = contact+git@goulin.fr

# SSH signing config (gpg.format=ssh, allowedSignersFile, signing key, and
# commit/tag gpgsign) lives in the machine-local include below, written by
# setup-git-signing.sh only when the SSH key exists AND git is new enough
# (>= 2.34). Keeping gpg.format=ssh out of this base file means old git
# versions (which reject it as fatal) still work. No key => commits unsigned.
[include]
	path = ~/.config/git/signing.local

[init]
	defaultBranch = main

[core]
	editor = vim
	autocrlf = input

[color]
	ui = auto

[pull]
	rebase = false

[push]
	default = simple
	autoSetupRemote = true

[fetch]
	prune = true

[diff]
	colorMoved = zebra

[alias]
	st = status -sb
	co = checkout
	br = branch
	ci = commit
	last = log -1 HEAD
	unstage = reset HEAD --
	lg = log --oneline --graph --decorate --all
	amend = commit --amend --no-edit
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[url "git+ssh://goulin@git.launchpad.test:9422/"]
	insteadOf = lptest:
