[user]
	name = Goulin Khoge
	email = contact+git@goulin.fr
	signingkey = ~/.ssh/id_ed25519.pub

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.gitallowedsigners

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[init]
	defaultBranch = main

[core]
	editor = vim
	autocrlf = input

[color]
	ui = auto

[pull]
	rebase = false

[push]
	default = simple
	autoSetupRemote = true

[fetch]
	prune = true

[diff]
	colorMoved = zebra

[alias]
	st = status -sb
	co = checkout
	br = branch
	ci = commit
	last = log -1 HEAD
	unstage = reset HEAD --
	lg = log --oneline --graph --decorate --all
	amend = commit --amend --no-edit
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
